/* Video Banner */
.video-banner {
    height: 100%;
    width: 100%;
}

/* San Pham Chinh: Phuong Hoang Lua */
.main-product {
    margin-top: 103px;
}

.main-product .main-product-phoenix .main-product-title {
    margin-bottom: 100px;
}

.main-product .main-product-phoenix .main-product-title h2 {
    font-family: "UTM", sans-serif;
    color: var(--primary);
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 3px;
}

.main-product .main-product-phoenix .main-product-title p {
    font-size: 20px;
    color: var(--white);
    line-height: 24px;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 10px;
}

.main-product .main-product-phoenix .main-product-phoenix-item {
    max-height: 546px;
    display: flex;
    justify-content: space-between;
}


.main-product-phoenix .main-product-phoenix-item .main-product-phoenix-show {
    display: flex;
    justify-content: space-between;
}

.main-product-phoenix .main-product-phoenix-item .main-product-phoenix-show .main-product-phoenix-show-item {
    overflow: scroll;
    overflow-x: hidden;
    direction: rtl;
    padding-left: 13px;
}

/* width */
.main-product-phoenix .main-product-phoenix-item .main-product-phoenix-show .main-product-phoenix-show-item::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
.main-product-phoenix .main-product-phoenix-item .main-product-phoenix-show .main-product-phoenix-show-item::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 3px;
    background: rgba(243, 115, 33, 0.2);
}
   
/* Handle */
.main-product-phoenix .main-product-phoenix-item .main-product-phoenix-show .main-product-phoenix-show-item::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 3px;
}
  
.main-product-phoenix .main-product-phoenix-item .main-product-phoenix-show .main-product-phoenix-show-item/* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

.main-product-phoenix .main-product-phoenix-item .main-product-phoenix-show .main-product-phoenix-show-item ul {
    width: 169px;
    height: 165px;
}

.main-product-phoenix .main-product-phoenix-item .main-product-phoenix-show .main-product-phoenix-show-item ul li {
    border: 1px solid #FFFFFF;
    text-align: center;
    margin-bottom: 24px;
    cursor: pointer;
}

.main-product-phoenix .main-product-phoenix-item .main-product-phoenix-show .main-product-phoenix-show-item ul li img {
    width: 101px;
    height: 142px;
    text-align: center;
    margin-top: 20px;
}

.main-product-phoenix .main-product-phoenix-item .main-product-phoenix-show .main-product-phoenix-show-image {
    border: 1px solid #FFFFFF;
    margin-left: 16px;
    width: 428px;
    margin-right: 43px;
} 

.main-product-phoenix-item .main-product-phoenix-show .main-product-phoenix-show-image .phoenix-show-image-logo {
    display: flex;
    justify-content: space-between;
    margin: 0 22px;
    padding-top: 34px;
    padding-bottom: 90px;
}

.main-product-phoenix-item .main-product-phoenix-show .main-product-phoenix-show-image .phoenix-show-image-logo img:first-child {
    width: 202px;
    height: 34px;
}

.main-product-phoenix-item .main-product-phoenix-show .main-product-phoenix-show-image .phoenix-show-image-logo img:last-child {
    width: 77px;
    height: 16px;
}

.main-product-phoenix-item .main-product-phoenix-show .main-product-phoenix-show-image .phoenix-show-image {
    width: 231px;
    height: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 88px;
}

.main-product-phoenix .main-product-phoenix-item .main-product-phoenix-content {
    max-width: 428px;
}

.main-product-phoenix .main-product-phoenix-item .main-product-phoenix-content ul li {
    color: var(--white);
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 20px;
    padding-bottom: 25px;
}

.main-product-phoenix .main-product-phoenix-item .main-product-phoenix-content .main-product-phoenix-price {
    margin-bottom: 40px;
    margin-top: 20px;
}

.main-product-phoenix .main-product-phoenix-item .main-product-phoenix-content .main-product-phoenix-price span {
    font-size: 30px;
    color: var(--white);
    font-weight: 700;
    letter-spacing: 7px;
}

/* Thá»i Gian Dem Nguoc */
.countdown-time {
    margin-top: 60px;
    margin-bottom: 74px;
}

.countdown-time .countdown ul {
    text-align: center;
}

.countdown-time .countdown ul li {
    display: inline-block;
    font-size: 24px;
    list-style-type: none;
    color: var(--white);
    background: url(../../share/image/bg-time.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 141px;
    height: 83px;
    text-align: center;
    line-height: 83px;
}

.countdown-time .countdown ul li span {
    display: block;
    font-size: 24px;
    text-align: center;
    color: var(--white);
}

/* Banner Trung Thuong Start */
.reward {
    background: url(../../share/image/bg-rewards.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.reward .reward-content {
    display: flex;
    justify-content: center;
    padding-top: 85px;
}

.reward .reward-content .reward-content-title {
    padding-top: 52px;
}

.reward .reward-content .reward-content-title .reward-content-title-detail {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 120px;
}

.reward .reward-content .reward-content-title .reward-content-title-detail p {
    color: var(--white);
    font-size: 20px;
    letter-spacing: 3px;
}

.reward .reward-content .reward-content-title .reward-content-title-detail h2 {
    font-size: 32px;
    font-weight: 700;
    color: var(--primary);
    letter-spacing: 7px;
    font-family: "UTM", sans-serif;
}

.reward .reward-content .reward-content-title .reward-content-title-desc li {
    color: var(--white);
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    line-height: 32px;
    letter-spacing: 6px;
}

.reward .reward-content .reward-image {
    width: 327px;
    height: 403px;
    margin-left: 121px;
}
.reward .reward-button {
    text-align: center;
    padding-top: 110px;
    padding-bottom: 80px;
}


.reward .reward-button .reward-button-register {
    background-color: var(--primary); 
    padding: 20px 55px;
    margin-right: 12px;
}

.reward .reward-button .reward-button-rules {
    background-color: inherit;
    border: 1px solid var(--primary);
    padding: 20px 27px;
    margin-left: 12px;
}

/* Banner Trung Thuong End */
/* San Pham Moi Start */
.new-product {
    margin-top: 71px;
}

.new-product h2 {
    font-family: "UTM", sans-serif;
    font-size: 32px;
    color: var(--primary);
    text-align: center;
    letter-spacing: 7px;
    margin-bottom: 71px;
}

.new-product .new-product-decs {
    display: flex;
    justify-content: center;
}

.new-product .new-product-decs {
    font-size: 20px;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-right: 10px;
    line-height: 30px;
}

.new-product .new-product-decs p {
    padding-right: 15px;
}

.new-product .new-product-decs .new-product-decs-img
 {
    width: 108px;
    height: 23px;
}

.new-product .new-product-text p {
    font-size: 16px;
    text-align: center;
    color: var(--white);
    line-height: 20px;
    padding: 52px 0;
    width: 71%;
    margin: 0 auto;
    letter-spacing: 2px;
}


.new-product .new-product-detail{
    position: relative;
}

.new-product .new-product-detail .new-product-detail-img {
    width: 312px;
    height: 399px;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
/* San Pham Moi End*/
/* Bo Suu Tap Chien Binh Start */
.cbaz {
    margin-top: 73px;
}

.cbaz .cbaz-decs {
    display: flex;
    justify-content: center;
}

.cbaz .cbaz-decs {
    font-size: 20px;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-right: 10px;
    line-height: 30px;
}

.cbaz .cbaz-decs p {
    padding-right: 15px;
}

.cbaz .cbaz-decs .cbaz-decs-img
 {
    width: 96px;
    height: 22px;
}

.cbaz .cbaz-text p {
    font-size: 16px;
    text-align: center;
    color: var(--white);
    line-height: 20px;
    padding: 52px 0;
    width: 71%;
    margin: 0 auto;
    letter-spacing: 2px;
}

.cbaz .cbaz-product {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 87px;
}

.cbaz .cbaz-product .cbaz-image {
    position: relative;
    -ms-flex: 1;  /* IE 10 */  
    flex: 1;
    width: 467px;
    height: 594px;
}

.cbaz-product .bg {
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.cbaz-product .bg-iron {
    background-image: url('../../share/image/ironBg.png');
}

.cbaz-product .bg-captain {
   background-image: url('../../share/image/captainBg.png');
}

.cbaz-product .bg-thor {
   background-image: url('../../share/image/thorBg.png');
}

.cbaz-product .cbaz-image .cbaz-image-item {
    width: 288px;
    height: 373px;
}

.cbaz-product .cbaz-image .cbaz-image-item,
.cbaz-product .cbaz-image .cbaz-image-item-2 {
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}

.cbaz-product .cbaz-content {
    -ms-flex: 1;  /* IE 10 */  
    flex: 1;
    padding-top: 70px;
    padding-left: 100px;
}

.cbaz-product .cbaz-content .cabz-content-name {
    width: 172px;
    height: 53px;
    display: inline-block;
}

.cbaz-product .cbaz-content .cabz-content-name-2 {
    width: 346px;
    height: 53px;
    display: inline-block;
}



.cbaz-product .cbaz-content p {
    font-size: 32px;
    letter-spacing: 7px;
    color: var(--white);
}

.cbaz-product .cbaz-content span {
    display: block;
    color: var(--white);
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 3px;
    padding-bottom: 34px;
    padding-top: 50px;
    max-width: 453px;
    text-align: left;
}
/* Bo Suu Tap Chien Binh End */
/* AZSTARS START */
.azstars-product {
    margin-top: 122px;
    margin-bottom: 55px;
}

.azstars-product .azstars-product-decs {
    display: flex;
    justify-content: center;
}

.azstars-product .azstars-product-decs {
    font-size: 20px;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-right: 10px;
    line-height: 40px;
}

.azstars-product .azstars-product-decs p {
    padding-right: 15px;
}

.azstars-product .azstars-product-decs .azstars-product-decs-img
 {
    width: 142px;
    height: 37px;
}

.azstars-product .azstars-product-text p {
    font-size: 16px;
    text-align: center;
    color: var(--white);
    line-height: 20px;
    padding: 52px 0;
    width: 71%;
    margin: 0 auto;
    letter-spacing: 2px;
}

.azstars-product .btn {
    display: flex;
    margin: 0 auto;
    margin-bottom: 54px;
}

.azstars-product .azstars-product-image {
    position: relative;
}

.azstars-product .azstars-product-image .azstars-product-image-item {
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width: 353px;
    height: 422px;
}
/* AZSTARS END */

/* FOOTER */
.motorshow {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('/share/image/imgFooter.png');
}

.motorshow .container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 52px;
}

.motorshow .container-footer .motorshow-menu,
.motorshow .container-footer .motorshow-contact,
.motorshow .container-footer .motorshow-slogan {
    -ms-flex: 1;  /* IE 10 */  
    flex: 1;
}

.motorshow .container-footer .motorshow-menu .motorshow-menu-logo {
    width: 187px;
    height: 22px;
    margin-bottom: 26px;
}

.motorshow .container-footer .motorshow-menu ul li {
    display: inline-block;
}

.motorshow .container-footer .motorshow-menu ul li a {
    font-size: 12px;
    color: var(--white);
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid var(--white);
    margin-bottom: 10px;
    letter-spacing: 3px;
}

.motorshow .container-footer .motorshow-contact a {
    font-size: 13px;
    color: var(--white);
}

.container-footer .motorshow-contact .motorshow-contact-list {
    display: flex;
    text-align: left;
    margin-bottom: 10px;
}

.motorshow-contact .motorshow-contact-list .motorshow-contact-email {
    margin-right: 20px;
}

.motorshow-contact .motorshow-contact-hcm,
.motorshow-contact .motorshow-contact-hn {
    word-spacing: 5px
}

.motorshow-contact .motorshow-contact-hcm {
    margin-bottom: 10px;
}

.motorshow-contact .motorshow-contact-list .motorshow-contact-phone {
    letter-spacing: 3px;
}

.motorshow .container-footer .motorshow-slogan p {
    color: var(--white);
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: left;
    margin-bottom: 30px;
    padding-top: 22px;
    float: right;
}

.motorshow .container-footer .motorshow-slogan span {
    color: var(--white);
    font-style: italic;
    font-size: 12px;
    display: block;
    padding-top: 37px;
    text-align: right;
}

/* Slideshow Mobile */
/* Slideshow container */
.mySlides {
    position: relative;
}



.slideshow-container {
    max-width: 480px;
    margin: auto;
  } 
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

.text img {
    margin-top: 120px;
}

.number-img {
    width: 171px;
    height: 222px;
    position: absolute;
    left: 50%;
    top: 33%;
    transform: translate(-50%,-50%);
}
  
.active {
    background-color: #717171;
}
  
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
/* FORM THE LE CHUONG TRINH */
.rules {
    display: none;
    width: 100%;
    overflow-y: scroll;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
    position: fixed;
    transform: scale(1);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
}

.rules .rules-container {
    max-width: 80%;
    margin: 0 auto;
}

.rules .rules-heading .rules-heading-image {
    display: flex;
    width: 50%;
}

.rules .rules-heading .rules-heading-image .img2 {
    transform: rotateY(180deg);
    margin-left: -1px;
}

.rules .rules-heading .rules-heading-image .img1 {
    margin-right: -1px;
}




.rules .rules-title {
    margin-top: 75px;
    text-align: center;
}

.rules .rules-title h2 {
    font-family: "UTM", sans-serif;
    color: var(--primary);
    font-size: 32px;
    letter-spacing: 7px;
    margin-bottom: 34px;
}


.rules .rules-title p {
    color: var(--white);
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 73px;
}

.rules .rules-title span {
    color: var(--white);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.5px;
    max-width: 40%;
    display: block;
    margin: 0 auto;
}

.rules .rules-reward {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 85px;
}

.rules-reward .rules-reward-items .airpod {
    margin-top: 85px;
}

.rules-reward .rules-reward-items .iphone {
    margin-top: 40px;
}

.rules-reward .rules-reward-items .watch {
    margin-top: 48px;
}

.rules-reward .rules-reward-items .rules-reward-name p {
    text-align: center;
    color: var(--white);
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-size: 16px;
}


.rules-reward .rules-reward-items .rules-reward-img {
    width: 70%;
    margin: 0 auto;
}

.rules .rules-time {
    color: var(--white);
    margin-bottom: 120px;
}

.rules .rules-time h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 48px;
    margin-top: 80px;
    letter-spacing: 3px;
}

.rules .rules-time p,.rules .rules-time h3 {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 3px;
}



.rules .rules-time span {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
}

.rules .rules-time ul li p,.rules .rules-time h3  {
    margin-bottom: 28px;
}

.rules .rules-time ul li > span {
    word-spacing: 5px;
}

.rules .rules-footer .rules-footer-image {
    display: flex;
    width: calc(100% / 3);
}


.rules-footer .rules-footer-image .img1,
.rules-footer .rules-footer-image .img3 {
    transform: rotateY(180deg);
}

.rules-footer .rules-footer-image .img2 {
    margin: 0 -3px;
}
/* FORM THE LE CHUONG TRINH */
/* FORM THANH CONG */
.success .img {
    width: 164px;
    height: 164px;
    margin: 40px auto;
}

.success {
    padding-top: 100px;
}

.success p,.success ul li, .success span {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
    color: var(--white);
}

.success ul li {
    margin-bottom: 10px;
}

.success span {
    color: var(--primary);
}

.success > p {
    margin-bottom: 18px;
}

.download {
    position: absolute;
    top: 80%;
    left: 85%
}

.download-img {
    width: 32px;
    height: 32px;
}


